.DS_Store
/StraightAhead/Content/Anim/*
/StraightAhead/Content/Assets/*
/StraightAhead/Content/Blueprints/*
/StraightAhead/Content/Data/*
/StraightAhead/Content/Maps/*
/StraightAhead/Content/UMG/*

/StraightAhead/DerivedDataCache/*
/StraightAhead/Intermediate/*
/StraightAhead/Saved/*
/StraightAhead/Straight_Ahead.xcworkspace
